

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: grid;
    grid-template-columns:9.375rem 1fr 9.375rem ;
    grid-template-rows: 5rem 1fr 3.75rem; 
    grid-template-areas: 
    "header header header"
    "aside main aside2 "
    "footer footer footer";
    height: 100vh;
    
}

header {
    grid-area: header;
    background-color: black;
}

main {
    grid-area: main;
    background-color: blueviolet;
}

section{
    grid-area: section;
    background-color: brown;
}
aside {
    grid-area: aside;   
    background-color: rgb(189, 123, 23);
}
.aside2 {
    grid-area: aside2;
    background-color: brown;

}

footer {
    grid-area: rgb(4, 49, 49);
}