.card {
  width: 200px;
  background: #fff;
  border: 2px solid gray;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.capa {
  width: 100%;
  border-radius: 8px;
}

.badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: gold;
  color: black;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 6px;
}

.extra {
  margin-top: 8px;
  font-style: italic;
  color: #555;
}
