
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;   
    color: aqua;    
}

body{
    background-color: beige;
}
nav ul {
    display: flex;
    list-style: none;
    gap:  .9375rem;
    justify-content: center;
    margin-top: 0.625rem;
    transition: background 1s linear;
}