.container{
display: flex;
margin: 0.3rem auto;
justify-content: center;
align-items: center;
}

.container label{
    font-size: 2rem;
    margin-right: 0.8;

}


.input{
    font-size: 1.5rem;
    border: 0.2rem solid #ccc;
    border-radius: 0.6rem;
}