.card {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    background-color: #fafafa;
  }
  
  .card p {
    margin: 4px 0;
  }
  