* {
    margin: 0;
    padding: 0;
}


.box {
    display: grid;
    height: 4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.box1{
    background: red;
}
.box2{
    background: yellow;
}

.box3{
    background: blanchedalmond;
}

@media (max-width: 30rem){
    .conteiner{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 20rem){
    .conteiner{
        grid-template-columns: 1fr;
    }
}