*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(110, 73, 73);
    padding: 1.5rem;
    color: aqua;
}


.container {
    flex-wrap: wrap;
    background: red;
    display: flex;    
    gap: 1rem;
    max-width: 62.5rem;
    margin: 0 auto;
}

.box{
 width: 6.25rem;
 flex: 1;
 min-height: 10rem;
 display: flex;
 border-radius: 20px;
 align-items: center;
 justify-content: center;
background-color: aqua;
}




@media (max-width: 47.5rem){
    .container{
        flex-wrap: wrap;
        background-color: antiquewhite;
    }

}

@media (max-width: 47.5rem){
    .container{
        flex-wrap: wrap;       
    }

}