

div {
    font-size: 2em;
}

.pixel {
    font: 20px verdana, arial, tahoma, sans-serif;
}

.tipografia {
    font: 1.25em verdana, arial, tahoma, sans-serif;
}


.roottipografica {
    font: 2rem verdana, arial, tahoma, sans-serif;
}
