
body {
    width: 100vw;
    height: 100vh;
}


.divi {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .125rem;
    
}

.boxx {
    height: 90px;
    width: 90px;
    background-color: aqua;
}


/* vertical-align: baseline; 

*/